# Dependencies
node_modules/

# Next.js build output
ecommerce-platform/.next/
ecommerce-platform/out/

# Environment variables
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Databases
*.db
*.db-journal

# Next.js build cache
ecommerce-platform/.next/
ecommerce-platform/*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db
